irssi/.irssi/irssi.pem
vim/.vim/.netrwhist
vim/.vim/plugged/*
systemd/.config/systemd/user/timers.target.wants/
systemd/.config/systemd/user/default.target.wants/
mpd/.config/mpd/database
bash/.bash_functions_work
