# ~/.config/starship.toml

format = "$time $username$hostname $directory $kubernetes $git_branch $git_status\n$character"

[time]
disabled = false
format = "[$time]($style)"
time_format = "%R" # 24-hour format (HH:MM)
style = "blue"

[username]
show_always = true
format = "[$user]($style)"
style_user = "green"

[hostname]
ssh_only = false
format = "[@$hostname]($style)"
style = "green"

[directory]
format = "[$path]($style)"
style = "red"
truncate_to_repo = false
truncation_length = 3
truncation_symbol = ".../"

[kubernetes]
format = '[$context:$namespace]($style)'
disabled = false

[[kubernetes.contexts]]
context_pattern = "prod"
style = "red"

[[kubernetes.contexts]]
context_pattern = "test"
style = "yellow"

[[kubernetes.contexts]]
context_pattern = "dev"
style = "green"

[git_branch]
symbol = 'îœ¥ '
format = '[$symbol$branch(:$remote_branch)]($style)'
style = "cyan"

[git_status]
style = "red"

[character]
success_symbol = '[>](white)'