* {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 12;
}

window#waybar {
    background-color: rgba(15,17,26,1);
}

#workspaces,
#workspaces button,
#workspaces button.urgent,
#workspaces button.persistent,
#workspaces button.empty,
#workspaces button.hidden {
    border: none;
    color: #3b3e4c;
}
#workspaces button:hover {
    background: none;
    border: none;
}
#workspaces button.visible,
#workspaces button.active {
    color: #FF5370;
}

#network,
#cpu,
#disk,
#battery,
#backlight,
#idle_inhibitor,
#memory,
#pulseaudio,
#window,
#clock,
#bluetooth {
    margin: 7px;
    color: #a6accd;
}
